.error {
    color: red;
}

.message textarea {
    font-size: 40px;
}

dd, dt {
    margin: 0;
}

/* signup.php */
.signup {
    text-align: center;
}

.signup form {
    background-color: #00d0ff33;
    width: 50%;
    margin: 0 auto;
}

.signup dt {
    padding-top: 15px;
    margin: 0 auto;
    width: 40%;
    text-align: left;
}

.signup span {
    color: white;
    background-color: red;
    margin-left: 10px;
    padding: 0 10px;
}

.signup input {
    font-size: 20px;
    width: 40%;
}

.signup .submit {
    width: 20%;
    border-radius: 4px;
    margin: 20px 0;
}